<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css" />
</head>
<body>
	<div class="main_wrapper">
		<div class="header">
			<div class="header_nav">
				<a href="tasks.html" class="header_nav_item">
					<p>Список заданий</p>
				</a>
				<a href="users.html" class="header_nav_item">
					<p>Пользователи</p>
				</a>
				<a href="tags.html" class="header_nav_item">
					<p>Тэги</p>
				</a>
				<a href="photo.html" class="header_nav_item">
					<p>Фотографии</p>
				</a>
			</div>
			<div class="header_logo">
				<img src="/assets/img/sambo_logo.png" alt="">
			</div>
			<div class="header_settings">
				<div class="header_settings_username">
					<p>Панель Администратора: <span>Евгений</span></p>
				</div>
				<a href="#" class="btn">
					<p>Выход</p>
				</a>
			</div>
		</div>
		<div class="content_wrapper">
			<div class="main_content_head">
				<p class="main_content_head_title">Список Тэгов</p>
				<div class="main_content_head_settings">
					<button class="btn blue">Добавить</button>
					<button class="btn green">Сохранить</button>
				</div>
			</div>
			<div class="main_content_info">
				<div class="table_wrapper">
					<table class="main_table">
						<thead>
							<tr class="table_head">
								<th>#</th>
								<th>Тип</th>
								<th>Значение</th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
							<tr class="table_item">
								<form id="" name="">
								<td><span>1</span></td>
								<td>
									<select for="" name="" id="">
										<option value="1">Значение 1</option>
										<option value="2">Значение 2</option>
										<option value="3">Значение 3</option>
									</select>
								</td>
								<td><input for="" name="" id="" type="text"></td>
								<td><button class="btn red">X</button></td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="footer">
			
		</div>
	</div>
	<script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/slick/slick.min.js"></script>
	<script src="/assets/js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.js"></script>
	<script src="/assets/js/script.js"></script>
</body>
</html>
let wrapper = $('.main_content_info');
				let scrollElement = $('#mCSB_1_container');
				let wrapperHeight = wrapper.height();
				let scrollElementHeight = scrollElement.height();
				let tableItemHeight = $('.table_item').height();
				if(scrollElementHeight > wrapperHeight){
					scrollElement.css('top', scrollElement.css('top').replace(/[^-\d\.]/g, '') - tableItemHeight);
				}