<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css" />
</head>
<body>
	<div class="main_wrapper">
		<div class="header">
			<div class="header_nav">
				<a href="#" class="header_nav_item">
					<p>Список заданий</p>
				</a>
				<a href="#" class="header_nav_item">
					<p>Пользователи</p>
				</a>
				<a href="#" class="header_nav_item">
					<p>Тэги</p>
				</a>
				<a href="#" class="header_nav_item">
					<p>Фотографии</p>
				</a>
			</div>
			<div class="header_logo">
				<img src="img/sambo_logo.png" alt="">
			</div>
			<div class="header_settings">
				<div class="header_settings_username">
					<p>Панель Администратора: <span>Евгений</span></p>
				</div>
				<a href="#" class="btn">
					<p>Выход</p>
				</a>
			</div>
		</div>
		<div class="content_wrapper">
			<div class="main_content_head">
				<p class="main_content_head_title">Пользователи</p>
				<div class="main_content_head_settings">
					<button class="btn blue">Добавить</button>
					<button class="btn green">Сохранить</button>
				</div>
			</div>
			<div class="main_content_info">
				<div class="table_wrapper">
					<table class="main_table">
						<thead>
							<tr class="table_head">
								<th>#</th>
								<th>Логин</th>
								<th>Имя</th>
								<th>Кол-во заданий</th>
								<th>Изменить</th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table_item">
								<td><span>1</span></td>
								<td><span>zh</span></td>
								<td><span>Женя</span></td>
								<td><span>4</span></td>
								<td><button class="btn blue">C</button></td>
								<td><button class="btn red">X</button></td>
							</tr>
							<tr class="table_item">
								<td><span>1</span></td>
								<td><span>zh</span></td>
								<td><span>Женя</span></td>
								<td><span>4</span></td>
								<td><button class="btn blue">C</button></td>
								<td><button class="btn red">X</button></td>
							</tr>
							<tr class="table_item">
								<td><span>1</span></td>
								<td><span>zh</span></td>
								<td><span>Женя</span></td>
								<td><span>4</span></td>
								<td><button class="btn blue">C</button></td>
								<td><button class="btn red">X</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/slick/slick.min.js"></script>
	<script src="/assets/js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.js"></script>
	<script src="/assets/js/script.js"></script>
</body>
</html>