* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.main_wrapper {
  overflow: hidden;
  width: 100%;
  position: relative; }
  .main_wrapper .btn {
    background-color: transparent;
    outline: 0;
    border: 0px;
    color: #fff;
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; }
    .main_wrapper .btn.green {
      background-color: #2ea999; }
    .main_wrapper .btn.green:hover {
      background-color: rgba(46, 169, 153, 0.8); }
    .main_wrapper .btn.blue {
      background-color: #3697cd; }
    .main_wrapper .btn.blue:hover {
      background-color: rgba(54, 151, 205, 0.8); }
    .main_wrapper .btn.red {
      background-color: #bb3d4e; }
    .main_wrapper .btn.red:hover {
      background-color: rgba(187, 61, 78, 0.8); }
  .main_wrapper .modal_wnd_wrapper {
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: none; }
    .main_wrapper .modal_wnd_wrapper.open {
      display: block; }
    .main_wrapper .modal_wnd_wrapper .modal_wnd {
      background-color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 0px 0px 15px 2px #fff;
      box-shadow: 0px 0px 15px 2px #fff;
      border-radius: 5px;
      overflow: hidden; }
      .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_head {
        padding: 10px;
        background-color: #f2f2f2;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-arround;
        -ms-flex-pack: space-arround;
        justify-content: space-arround;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
        .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_form .forma_group {
          width: 50%;
          padding: 5px 15px; }
          .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_form .forma_group label p span {
            color: #bb3d4e; }
          .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_form .forma_group label input {
            width: 100%;
            border: 1px solid #3697cd;
            border-radius: 3px;
            height: 20px;
            outline: 0px;
            padding: 0px 10px; }
      .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info {
        padding: 0px 15px 10px 15px; }
        .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_user_info_title {
          font-size: 18px;
          margin-top: 10px; }
        .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_user_info_subtitle {
          font-size: 16px;
          margin-top: 10px; }
        .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_table_wrapper {
          max-height: 200px;
          width: 100%; }
          .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_table_wrapper .modal_table {
            width: 100%;
            font-size: 14px;
            border-collapse: collapse;
            border: 1px solid #f2f2f2;
            position: relative;
            margin-bottom: 10px; }
            .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_table_wrapper .modal_table thead tr {
              background-color: #e8e8e8; }
            .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_table_wrapper .modal_table th, .main_wrapper .modal_wnd_wrapper .modal_wnd .modal_wnd_content .modal_user_info .modal_table_wrapper .modal_table td {
              border: 1px solid rgba(0, 0, 0, 0.2);
              padding: 5px;
              text-align: center; }
  .main_wrapper .header {
    background: -webkit-gradient(linear, left top, right top, from(#3f4850), color-stop(25%, #3a4e59), color-stop(50%, #38545f), color-stop(75%, #43554d), to(#573d4e));
    background: -webkit-linear-gradient(left, #3f4850 0%, #3a4e59 25%, #38545f 50%, #43554d 75%, #573d4e 100%);
    background: -o-linear-gradient(left, #3f4850 0%, #3a4e59 25%, #38545f 50%, #43554d 75%, #573d4e 100%);
    background: linear-gradient(to right, #3f4850 0%, #3a4e59 25%, #38545f 50%, #43554d 75%, #573d4e 100%);
    width: 100%;
    height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 25px 0px 25px;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    z-index: 6;
    position: relative; }
    .main_wrapper .header .header_nav {
      font-size: 0; }
      .main_wrapper .header .header_nav .header_nav_item {
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0px 5px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        .main_wrapper .header .header_nav .header_nav_item p {
          color: #fff;
          font-size: 16px; }
      .main_wrapper .header .header_nav .header_nav_item:hover {
        background-color: rgba(255, 255, 255, 0.4); }
    .main_wrapper .header .header_logo {
      height: 100%; }
      .main_wrapper .header .header_logo img {
        height: 100%; }
    .main_wrapper .header .header_settings .header_settings_username, .main_wrapper .header .header_settings .btn {
      display: inline-block;
      padding: 5px 10px;
      margin: 0px 5px;
      background-color: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .main_wrapper .header .header_settings .header_settings_username p, .main_wrapper .header .header_settings .btn p {
        color: #fff;
        font-size: 16px; }
    .main_wrapper .header .header_settings .btn:hover {
      background-color: rgba(255, 255, 255, 0.4); }
    .main_wrapper .header .header_settings .btn {
      text-decoration: none; }
    .main_wrapper .header .header_settings .header_settings_username span {
      font-weight: 600; }
  .main_wrapper .content_wrapper {
    width: 100%;
    height: calc(100vh - 80px); }
    .main_wrapper .content_wrapper .main_content_head {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 50px;
      background-color: #f2f2f2;
      z-index: 5;
      -webkit-box-shadow: 0px 0px 5px #000;
      box-shadow: 0px 0px 5px #000;
      position: relative;
      padding: 0px 25px; }
      .main_wrapper .content_wrapper .main_content_head .main_content_head_title {
        font-size: 20px; }
      .main_wrapper .content_wrapper .main_content_head .main_content_head_settings {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%; }
    .main_wrapper .content_wrapper .main_content_info {
      height: 100%;
      background-color: #f3f6fa;
      width: 100%;
      padding-bottom: 20px; }
      .main_wrapper .content_wrapper .main_content_info .table_wrapper {
        width: calc(100% - 40px);
        margin: 0px 20px 10px 20px;
        padding: 10px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;
        background-color: #fff; }
        .main_wrapper .content_wrapper .main_content_info .table_wrapper .main_table {
          width: 100%;
          font-size: 16px;
          border-collapse: collapse;
          border: 1px solid #f2f2f2;
          position: relative; }
          .main_wrapper .content_wrapper .main_content_info .table_wrapper .main_table .table_head {
            background-color: #e8e8e8; }
        .main_wrapper .content_wrapper .main_content_info .table_wrapper th, .main_wrapper .content_wrapper .main_content_info .table_wrapper td {
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 5px;
          text-align: center; }
